@tailwind base;
@tailwind components;
@tailwind utilities;


.font-roboto {
  font-family: "Roboto Serif", serif;
}

.font-base {
  font-family: "Roboto", sans-serif;
}

.font-galantis {
  font-family: "Galantis", sans-serif;
}

.font-mao {
  font-family: 'Gilroy-Light', sans-serif;
}

.font-hero {
  font-family: 'Bodoni Moda', serif;
}

@layer components {
  .section-title {
    @apply relative mb-16 font-roboto text-[#363636] text-3xl md:text-4xl lg:text-5xl text-center tracking-tight leading-none;
  }

  .section-title::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    height: 4px;
    background-color: #E5C5C6;
  }
}
